$bg-body-06131C: #06131C;
$bg-header-0C2738: #0C2738;
$base-color-white: #FFFFFF;
$base-color-yellow-green: yellowgreen;
$color-yellow-FFB800: #FFB800;

//break point

$max-width-1080: 1080px;
$max-width-767: 767px;
$max-width-875: 875px;
$min-width-768: 768px
